
#flexnav {
    flex: auto;
    display: flex;
    align-items:center;
    height:100%;
    width:auto;
    margin:auto;
    flex-direction: row;
    justify-content:space-around;
    
}



#size50{
	height:50%;
		
}






	#waffanim {
 
  width:100%;
	  height:auto;
  z-index: 1000;
		position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
		animation-name: openslide;
		

	animation-duration: 1s;	
	

	animation-timing-function: ease;	
	

		
		animation-fill-mode: forwards;

	
		
		
}

@keyframes backanim {
		0% {
	
		opacity:.1;
	}
	10%{
		opacity.1;
		
	}
	20%{
		opacity:.2;
	}
	30%{
		opacity:.3;
	}	
	40%{
		
		opacity:.4;
	}
	50%{
		
		opacity:.5;
	}
	60%{
		
		opacity:.6;
	}
	70% {
		
		opacity:.7;
	}			
	80%{
		
		opacity:.8;
	}
	90% {
		
		opacity:.9;
	}	
	100%{
		
		opacity:1;
	
	}
	
}



@keyframes openslide {
		0% {
		transform: translateY(100%);
			opacity:0;
	}
	10% {
		opacity:0;
	}
	50%{
		transform: translateY(-8%);
		opacity:1;
	}
	65%{
		transform: translateY(4%);
		opacity:1;
	}
	80%{
		transform: translateY(-4%);
		opacity:.8;
	}
	95%{
		transform: translateY(2%);
		opacity:.3;
		
	}			
	100% {
		transform: translateY(0%);
		opacity:0;
	}	
}




























.pagewrap {
    transform: translateY(90px);
    display: flex;
    flex-direction: column;
    height: auto;
    width:auto;
    margin: auto;
    justify-content: flex-start;
    flex: auto;
}

#dotflex {
    display:flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-around;
    transform:translateY(150%);
    
}

#header1img {
    width: 100%;
    height: 0;
    padding-top: 44.269%;
    position:relative;
    z-index: 1;
    order: 1;
    background-image: url(chocolate.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    flex: auto;
	display: inline-block;
	animation-name: backanim;
	animation-duration: 1s;	
		
		animation-fill-mode: forwards;
    
}
#square {
    height:20px;
    width:20px;
    background-color:#efb575;
    z-index: 20;
    margin:auto;

    
}

.headerclass {
    
    height:auto;
    width:100%;
    
    margin: auto;
    flex: auto;
}

#content {
    width: 93%;
    background: #dfdee0;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    order: 3;
    max-width: 1039px;
}

#footer {
    padding: 0;
    background-color: #5e2921;
    width: 100%;
    height: 90px;
    margin: auto;
    font-family: 'Rokkitt',serif;
    font-size: 30px;
    text-align: center;
    color: #efb575;
    
}

#footertext {
    top: 35%;
    position: relative;
    margin: auto;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #72433c;
    height: auto;
}

html {
    height: auto;
}

#navbar {
    height: 90px;
    background-color: #5e2921;
    width: 100%;
    z-index: 15;
    top: 0;
    position: fixed;
    margin: 0;
    padding: 0;
        border-bottom: 10px;
    border-top: 10px;
    border-style: dashed;
    border-color: #efb575;
    border-left:0;
    border-right:0;
   
}


#navbar2 {
    height: 90px;
    background-color: #5e2921;
    width: 100%;
    z-index: 3;
    margin: auto;
    padding: 0;
    order: 2;
    position: sticky;
    flex: auto;
    border-bottom: 3px;
    border-top: 3px;
    border-style: dashed;
    border-color: #efb575;
    border-left:0;
    border-right:0;
}

#logobar {
    margin: 0;
    padding: 0;
    z-index: 4;
    width: 160px;
    height: 160px;
    flex: auto;
    transform: translateY(27px);
}

.overlaplogo {
    top: 0;
    position: absolute;
    left: 6%;
    z-index: 4;
    float: left;
}



a {
    font-family: 'Rokkitt',serif;
    font-size: 30px;
    text-align: center;
    color: #efb575;
    z-index: 5;
    text-decoration: none;
    
}

a:hover {
   
    text-decoration:underline;
	text-decoration-style: dashed;
	
}
nav li {
    display: table-cell;
    margin: 0;
    font-family: 'Rokkitt',serif;
    font-size: 30px;
    text-align: center;
    color: #efb575;
    z-index: 5;
    position: relative;
}


nav {
    width: 85%;
    margin: 0 auto;
    float: right;
    align-content: center;
    display: inline-table;
    text-align: center;
    top: 40%;
    position: relative;
    
}

nav ul {
    display: table-row;
    text-align: center;
}


	

@media screen and (max-width:1024px){
	#square {
		height:15px;
		width:15px;
		transform: translateY(100%);
		
	}
	a {
		font-size: 25px;
	}

}

@media screen and (max-width:768px){
	#footertext {
		font-size: 20px;
	}
	#navbar2 {
		height:45px;
	}
	
	#logobar {
		transform: translateY(27px);
		height:115px;
		width:115px;
	}
	.pagewrap {
		transform: translateY(45px);
	}
	#navbar {
		height:45px;
		
	}
	a{
		font-size:20px;
	}
	
	#square {
		height:10px;
		width:10px;
		transform: translateY(-0.1%);
		
	}
}

@media screen and (max-width:500px){
		a {
		font-size: 15px;
	}
	#logobar{
		width:80;
		height:80;
		transform: translateY(9px);
	}
		#footertext {
		font-size:16px;
	}
	
}
@media screen and (max-width:397px){
	#footertext {
		font-size: 13px;
	}
	
	
}
@media screen and (max-width:320px){
	#navbar2 {
		height:25px;
		
	}
	#square {
		height:5px;
		width:5px;
		transform: translateY(50%);
	}
	
	#navbar {
		height:25px;
	
	}
			a {
		font-size: 13px;
	}
	#logobar {
		height:60px;
		width:60px;
		top:0;
		margin:0;
		transform:translateY(9px);
	}
	#footertext{
		font-size:10px;
	}
	#footer{
		height:40px;
		font-size: 5px;
	}
	#content {
		font-size: 10px;
	}
}
